body {
   margin: 0;
}
@media screen and (max-width: 480px) {
.container {
   display: block;
   padding-left: 10px;
   background-color: aqua;
}
}

@media screen and (max-width: 767px) {
.container {
   display: flex;
   width: 100%;
   margin: auto;
   background-color: blue;
   }
}
@media screen and (max-width: 1200px) {
.container {
   display: flex;
   margin: auto;
   width: 100%;
   background-color: rgb(107, 107, 110);
}
}

/*  */
.mainmenubtn {
   background-color: rgb(30, 120, 0);
   color: white;
   border: none;
   cursor: pointer;
   padding: 20px;
   margin-top: 20px;
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-child {
   display: none;
   background-color: rgb(85, 84, 84);
   min-width: 200px;
}

.dropdown-child a {
   color: white;
   padding: 20px;
   text-decoration: none;
   display: block;
}

.dropdown:hover .dropdown-child {
   display: block;
}

/*  */

.main_div{
   width: 100%;
   background-image: url(./img/photo_2024-05-09_09-08-25.jpg);
   background-color: transparent;
}
.main_div_btn{
   justify-content: center;
   align-items: center;
   width: 100%;
}

.btn{
   width: 50px;
   justify-content: center;
   align-items: center;
   background-color: crimson;
   color: black;
}
/*  */
.header_wrap {
   height: 19vh;
   background-color: rgb(164, 164, 202);
   display: flex;
   justify-content: start;
   align-items: center;
}
.menu-btn {
   background-color: rgb(95, 95, 95);
   display: block;
   height: 50px;
   width: 50px; 
   border-radius: 50%;
   margin-left: 5px;
   position: relative;
}